<!DOCTYPE html>
<html lang="ro"> 
    <head>
       
        
        <meta name="description" content="Floraria Thumbelina va incanta cu o foarte mare varietate de flori: buchete,cutii,cosuri,cadouri personalizate">
        <meta name="keywords" content="lalea,zambila,ursulet,produse,pret,crini,ciocolata,cos,cutie,flori,trandafir,rosu,buchet,cadou">
        <link rel="stylesheet" type="text/css" href="/resurse/css/403_style.css"/> 
        <title>403 Forbidden</title>
        <%- include("../fragmente/head") %>
        
    </head>
    <body>
    
    <%- include("../fragmente/header") %> <!--afiseaza rezultatul fct apelate(aici include)-->

    <main>
        <section>
            <h2>403 FORBIDDEN</h2>
            <p>Nu am gasit un buchet de flori pe placul dumneavoastra :((((</p>
        </section>
        <div id="eroare2">
            <div id="poza-eroare2">
        <picture>      
            <source srcset="./resurse/imagini/cat-2083492_640.jpg" media="(max-width:700px)"/>
            <source srcset="./resurse/imagini/cat-2083492_1280.jpg" media="(max-width:1200px)"/>
            <img src="./resurse/imagini/cat-2083492_640.jpg" alt="403 Forbidden"/>
        </picture>
    </div>
        </div>
    </main>  
    <footer>
        <%- include("../fragmente/footer") %>
    </footer>
    <div id="banner">Acesta este un proiect scolar! &#128517;</div>
    </body>
    
    </html>
