<!DOCTYPE html>
<html lang="ro"> 
    <head>
       
        
        <meta name="description" content="Floraria Thumbelina va incanta cu o foarte mare varietate de flori: buchete,cutii,cosuri,cadouri personalizate">
        <meta name="keywords" content="lalea,zambila,ursulet,produse,pret,crini,ciocolata,cos,cutie,flori,trandafir,rosu,buchet,cadou"> 
        <script type="text/javascript" src="/resurse/JavaScript/cos_virtual.js"></script>
        <title>Cos virtual</title>
        <%- include("../fragmente/head") %>
        
       
    </head>
    <body>
    
    <%- include("../fragmente/header") %> <!--afiseaza rezultatul fct apelate(aici include)-->
    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>
    
    <footer>
        <%- include("../fragmente/footer") %>
    </footer>
    <div id="banner">Acesta este un proiect scolar! &#128517;</div>
    </body>
    
    </html>
