<!DOCTYPE html>
<html lang="ro"> 
    <head>
       
        
        <meta name="description" content="Floraria Thumbelina va incanta cu o foarte mare varietate de flori,stranse in buchete cu un design aparte. De asemenea, venim in ajutorul celor ce nu au idei de cadouri,oferind surprize nemaipomenite pentru cei dragi dumneavoastra.">
        <meta name="keywords" content="florarie,flori,trandafir,rosu,buchet,cadou">
        
        <title>Florăria Thumbelina</title>
        <%- include("../fragmente/head") %>


    </head>
    <body>
    
    <%- include("../fragmente/header") %> <!--afiseaza rezultatul fct apelate(aici include)-->

    <main>
        <section id="sectiune-galerie-animata">
            <h2>Galerie animată</h2>
            <div id="galerie-animata" class="galerie-a">
                <div>
                    <figure>
                        <img src="resurse/imagini/galerie/cadou-craciun.png" alt="cadou de craciun" />
                        <figcaption>Cadou de Craciun</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie/craciun.png" alt="arajament de craciun" />
                        <figcaption>Aranjament de Craciun</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie/decoratiune.png" alt="Decoratiune cu lumanari" />
                        <figcaption>Decoratiune cu lumanari</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie/craciunita1.png" alt="Craciunita alba" />
                        <figcaption>Craciunita alba</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie/craciunita2.png" alt="Craciunita rosie" />
                        <figcaption>Craciunita rosie</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie/craciun2.png" alt="Merry Christmas" />
                        <figcaption>Merry Christmas</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie/trandafir_zapada.png" alt="Trandafir" />
                        <figcaption>Trandafir</figcaption>
                    </figure>
                </div>
            </div>
        </section>

    </main>  
    <footer>
        <%- include("../fragmente/footer") %>
    </footer>
    <div id="banner">Acesta este un proiect scolar! &#128517;</div>
    </body>
    
    </html>