::cue{
    background:rgba(255,255,255,0.3);
    color:var(--roz-inchis);
    text-align: center;
    font-size: 1rem;
  }
@media screen and (max-width:1000px){
  ::cue{
  font-size: 0.8rem;
  }
}

.sectiune-video{
  height:15rem;
}
  
#container-video{
  background-size: cover;
  width:65%;
  max-width: 550px;
  max-height:500px;
  position:relative;
  margin:0 auto;
  height:90%;
}

/*@media screen and (min-width:1000px){
  #container-video img{
    top:50px;
  }
}*/

#clip-video{
  width:50%;
  --raza-bord:3rem;
  overflow:hidden;
  padding:0;
  margin:0;
  line-height: 0px;
  height:100%;
}
#stil-video{
  overflow: hidden;
  border-radius: 15px;
  position:relative;
  height:75%;
}
#stil-video::after
{
  position:absolute;
  display:block;
  content:" ";
  width:100%;
  /*height:21px;*/
  box-shadow: 0px 0px 10px 5px black ;
}
video{
  margin:0;
  padding:0;
  transition: all 0.2s linear;
  width:100%;
  border-radius: 10px;
  height:auto;
  
}
#centrare-video{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

