<section id="contact">
    <h2>Contact <i class="fas fa-phone"></i></h2>
    <adress>
        Str.Aleea Florilor,nr 21, București,Romania<br>
        Tel:<a href="tel:0721212121">0721212121</a><br>
        Email:<a href="mailto:flori@florariathumbelina.ro">flori@florariathumbelina.ro</a>
    </adress>
</section>
<section id="colaboratori">
    <h2>Colaboratori <i class="fas fa-handshake"></i></h2>
    
    <p>Colaboram pentru evenimente cu urmatoarele florarii:</p>
    <ol>
        <li><a href="https://www.floridelux.ro/" target="_blank">Flori de lux</a></li>
        <li><a href="https://floria.ro/?gclid=CjwKCAiAm-2BBhANEiwAe7eyFHB4qkrSQ13wMvC5U8RueG7FbxIBmGjdJ6tmUuQLytN1i-9H2Mb4YxoC43kQAvD_BwE" target="_blank">Floria.ro</a></li>
    </ol>
</section>

<p><small>&copy;<time datetime="2021-03-07">7 martie 2021</time>All rights reserved to Florăria Thumbelina.</small></p>

<a href="#" title="Mergi sus" id="link-top"><div id="con"></div></a>