<header>
    <h1>Florăria Thumbelina<i class="fab fa-pagelines"></i></h1>
</header> 
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/hamburger-meniu.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div class="grad"><label id="casuta"><i class="fas fa-home"></i></label><div id="hide"><a href="/index">Acasă</a></div></div> 
            
            <ul class="submeniu">
                <li><a href="/index/#hello">Bun venit!</a></li>
                <li><a href="/index/#promotii">Oferte</a></li>
                <li><a href="/index/#info">Anunțuri</a></li>
                
            </ul>
        </li>
        <li><div class="grad">Informatii</div>
            
            <ul class="submeniu">
                <li><a href="/index/#about">Despre noi</a></li>
                <li><a href="/index/#intrebari">Intrebari</a></li>
                <li><a href="/index/#prezentare">Prezentare</a></li>
                <li><a href="/index/#contact">Contact</a></li>
                
            </ul>
        </li>
        <li><div class="grad">Produse</div>
            <ul>
                <li><a href="/produse">Toate</a></li>
                <li><a href="#">Mici</a></li>
                <li><a href="#">Mari</a></li>
                <li><a href="#">Coșuri</a></li>
                <li><a href="#">Aranjament</a></li>
                <li><a href="#">Cadouri</a></li>
    
            </ul> 
        </li>
        <li><div class="grad">Galerie</div>
            <ul>
                
                <li><a href="/GalerieStatica">Statica</a></li>
                 <li><a href="/GalerieAnimata">Animata</a></li>
     
             </ul> 
        
        </li>
        <% if (locals.utilizator && locals.utilizator.rol=="admin") { %> 
            <li><div class="grad"><a href="/useri">Utilizatori</a></div></li>
            <% } %>
        
        <li><div class="grad"><a href="/inregistrare"><div class="grad">Inregistrare</div></a></li>
        <% if (locals.utilizator) { %>
            <li><div class="grad"><a href="#"><%- locals.utilizator.username %></a></div></li>
            <li><div class="grad"><a href="/logout">Logout</a></div></li>
        <% }  %>

        <li><div class="grad"><a href="/cos-virtual">Cos virtual</a></div></li>

     
    </ul>
   
</nav>